@model ProductsListViewModel

@foreach(var p in Model.Products)
{
    <partial name="ProductSummary" model="p" />
}

<div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary" page-url-category="@Model.CurrentCategory" class="btn-group fa-pull-right m-1">
</div>

@*<table id="dataTable" class="table table-primary table-striped table-bordered m-4">
    <thead>
        <tr>
            <td>Name</td><td>Description</td><td>Price</td>
        </tr>
    </thead>
    <tbody>
        @foreach(var p in Model)
            {
                <tr>
                    <td>@p.Name</td><td>@p.Description</td><td>@p.Price.ToString("c")</td>
                </tr>
            }
    </tbody>
</table>*@

@section Scripts{
    <script src="~/product.js"></script>
}